<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Errore</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1 class='text-primary'><%= currentUser.firstname %> <%= currentUser.lastname %></h1>
            <hr>
            <% if(data.error){ %>
                <h3 class='text-danger'><%= data.message||'Siamo spiacenti ma si è verificato un errore' %></h1>
            <% } %>
            <a href='/'>Torna alla Home</a>
        </div>
    </body>
</html>